@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

* {
    Box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #222;
    font-family: 'Roboto Slab', serif;
    Color: #fff;
    line-height: 1.4;
}

ul {
    line-height: 2.5;
    list-style-type: none;

}

a {
    text-decoration: none;
    color: #333;
}

h1 {
    
}

#header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: purple;
    color: #fff;
    height: 80;
}

.container {
    
    max-width: 1400px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}

#header-img {
    width: 20%;
    height: auto;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

#nav-bar {
    position: fixed;
    top: 0;
    margin-top; auto;
    overflow: hidden;
    justify-content: space-between;
}

#nav-bar a {
    color: #fff;
    padding: 10px;
    margin: 0 10px;
}
.jail-heading {
    display: flex;
    justify-content: center;
    padding: 15px;
    font-size: 65px;
    text-shadow: 6px 3px 10px teal;
}


.section-content {
    margin-top: 0px;
    padding: 50px;
    
}

.section {
    max-width: 1400px;
    text-align: center;
    margin: auto;
    overflow: auto;
    padding: 40px;
    justify-content: center;
    }

#form {
    max-width: 1400px;
    text-align: center;
    font-size: 30px;
    margin: auto;
    overflow: auto;
    padding: 40px;
    justify-content: center;
}

@media screen and (min-width: 400px) {
    body {
      background-color: rgb(12, 14, 12);
    }
  }
  
  @media screen and (min-width: 800px) {
    body {
      background-color: rgb(33, 2, 41);
    }
  }